<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Recipe</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/recipesCss/recipe_new.css" />
    <%- include("../partials/fonts.ejs") %>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <main class="container">
      <h1>Edit Recipe</h1>
      <div class="formContainer">
        <form
          action="/recipes/<%= recipe._id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div>
            <label for="title">Title</label><br />
            <input
              type="text"
              name="recipe[title]"
              id="title"
              value="<%= recipe.title %>"
              required
            />
          </div>
          <div>
            <label for="description">Description</label><br />
            <textarea
              name="recipe[description]"
              id="description"
              rows="5"
              cols="40"
              required
            >
                <%= recipe.description %>
            </textarea>
          </div>

          <div>
            <label for="">Add Images</label><br />
            <input type="file" name="image" id="image" multiple />
          </div>

          <label>Ingredients: </label>
          <div class="ingredientList">
            <% for (let ingredient of recipe.ingredients) { %>
            <input
              type="text"
              name="recipe[ingredients][]"
              id="ingredient"
              value="<%= ingredient %>"
              required
            />
            <br />
            <% } %>
          </div>

          <label for="">Steps: </label>
          <div class="stepsList">
            <% for (let step of recipe.steps) { %>
            <textarea name="recipe[steps][]" id="step" required>
            <%= step %>
            </textarea>
            <br />
            <% } %>
          </div>
          <div class="edit-images-container">
            <% recipe.images.forEach(function(img, i) { %>
            <div class="edit-image-checkbox">
              <input
                type="checkbox"
                id="image-<%= i %>"
                name="deleteImages[]"
                value="<%= img.filename %>"
              />
              <label for="image-<%= i %>">delete image?</label>
            </div>
            <img src="<%= img.thumbnail %>" alt="img" />
            <%}) %>
          </div>
          <button>Save Recipe</button>
        </form>
      </div>
      <a href="/recipes/<%= recipe._id %>">Cancel</a>
    </main>
  </body>
</html>
