<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Recipes</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/recipesCss/recipe_index.css" />
    <link rel="stylesheet" href="/css/flash.css" />
    <%- include("../partials/fonts.ejs") %>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <%-include("../partials/flash.ejs")%>
    <div class="main-recipe-discover-container">
      <div class="recipe-discover-container">
        <% for (let recipe of recipes) {%>
        <div class="discover-recipe-box">
          <div class="discover-recipe-image">
            <img src="<%= recipe.image %>" alt="image_1" />
          </div>
          <div class="discover-recipe-information-container">
            <div class="discover-recipe-name"><%= recipe.title %></div>
            <div class="discover-recipe-discription">
              <%= recipe.description %>
            </div>
            <div class="show-more">
              <a href="/recipes/<%= recipe._id %>">Show More</a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <script src="/js/flash.js"></script>
  </body>
</html>
