<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/recipesCss/recipe_show.css" />
    <link rel="stylesheet" href="/css/recipesCss/recipe_index.css" />
    <%- include("../partials/fonts.ejs") %>
  </head>

  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="main-recipe-container">
      <div class="recipe-container">
        <div class="recipe-sub-container">
          <div class="sub-container">
            <%-include("../partials/flash.ejs")%>
            <p class="username"><%= recipe.author.username %></p>
            <h1><%= recipe.title %></h1>
            <h2><%= recipe.description %></h2>

            <h3>Ingredients</h3>
            <ul>
              <% for (let ing of recipe.ingredients) { %>
              <li><%= ing %></li>
              <% } %>
            </ul>

            <div class="steps">
              <h3>Steps</h3>
              <ol>
                <% for (let step of recipe.steps) { %>
                <li><%= step %></li>
                <% } %>
              </ol>

              <form
                action="/recipes/<%= recipe._id %>?_method=DELETE"
                method="POST"
              >
                <% if (currentUser && recipe.author.equals(currentUser._id)) {
                %>
                <button>Delete</button>
                <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
                <% } %>
              </form>

              <div class="options">
                <a href="/recipes">All Recipes</a>
              </div>

              <div class="comment-container">
                <div class="commentSection">
                  <div class="all-comments">
                    <h2>Comments</h2>
                    <% for (let comment of recipe.comments) { %>
                    <p><%= comment.author.username %>: <%= comment.body %></p>
                    <% if (currentUser &&
                    comment.author.equals(currentUser._id)) { %>
                    <form
                      action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE"
                      method="POST"
                    >
                      <button type="submit">DELETE</button>
                    </form>
                    <% } %> <% } %>
                  </div>
                </div>

                <div class="submit-comment">
                  <% if (currentUser) { %>
                  <form
                    action="/recipes/<%= recipe._id %>/comments"
                    method="POST"
                  >
                    <div class="comment-icon">
                      <label for="body"></label>
                      <input
                        type="text"
                        class="comment-text"
                        name="comment[body]"
                        id="body"
                        required
                      />
                    </div>
                    <div class="post-button">
                      <button class="postbutton" type="submit">Post</button>
                    </div>
                  </form>
                  <% } else { %>
                  <p>you must be logged in to make a comment!</p>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="image-comment">
            <div class="yellow-background">
              <div class="circle-container">
                <img src="<%= recipe.image %>" alt="image" />
              </div>
            </div>
            <div class="icon-circle icon1">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 15C17.4 15 16.9 15.2 16.5 15.5L8.9 11.6C9 11.4 9 11.2 9 11C9 10.8 9 10.6 8.9 10.4L16.5 6.5C16.9 6.8 17.4 7 18 7C19.7 7 21 5.7 21 4C21 2.3 19.7 1 18 1C16.3 1 15 2.3 15 4C15 4.2 15 4.4 15.1 4.6L7.5 8.5C7.1 8.2 6.6 8 6 8C4.3 8 3 9.3 3 11C3 12.7 4.3 14 6 14C6.6 14 7.1 13.8 7.5 13.5L15.1 17.4C15 17.6 15 17.8 15 18C15 19.7 16.3 21 18 21C19.7 21 21 19.7 21 18C21 16.3 19.7 15 18 15Z"
                  fill="black"
                />
              </svg>
            </div>

            <div class="icon-circle icon2">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2C6.5 2 2 5.6 2 10C2 12.6 3.5 15 6 16.4V22L10.3 19.2C11.1 19.4 11.9 19.5 12 19.5C17.5 19.5 22 15.9 22 11.5C22 7.1 17.5 2 12 2Z"
                  fill="black"
                />
              </svg>
            </div>

            <div class="icon-circle icon3">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17 3H7C5.9 3 5 3.9 5 5V21L12 18L19 21V5C19 3.9 18.1 3 17 3Z"
                  fill="black"
                />
              </svg>
            </div>

            <div class="icon-circle icon4">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.28 18.6 15.36 13.45 20.04L12 21.35Z"
                  fill="black"
                />
              </svg>
            </div>

            <div class="icon-circle icon5"></div>
        </div>
      </div>
    </div>
    <script src="/js/recipes/showComments.js"></script>
  </body>
</html>
