<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/recipesCss/tempcss/tempshow.css" />
    <!-- <link rel="stylesheet" href="/css/recipesCss/recipe_index.css" /> -->
    <link rel="stylesheet" href="/css/flash.css" />
    <%- include("../partials/fonts.ejs") %>
  </head>

  <body>
    <%- include("../partials/navbar.ejs") %> <%-
    include("../partials/flash.ejs") %>
    <div class="main-recipeshow-container">
      <div class="sub-main-recipeshow-container">
        <div class="sub-sub-main-recipeshow-container">
          <div class="profile-wrapper">
            <a href="profile-page.html" class="profile-button">
              <div class="profile-section">
                <img
                  src="/images/pfp.png"
                  alt="Profile Icon"
                  class="profile-photo"
                />
                <a class="profile-info" href="/users/<%= recipe.author._id %>">
                  <p class="account-name"><%= recipe.author.username %></p>
                </a>
              </div>
            </a>

            <!-- <button class="follow-button" onclick="toggleFollow()">
              Subscribe
            </button> -->
          </div>

          <p class="recipeTitle"><%= recipe.title %></p>
          <h2 class="description"><%= recipe.description %></h2>

          <a
            class="recipe-category"
            href="/recipes?category=<%= recipe.category%>"
          >
            <p><%= recipe.category %></p>
          </a>

          <div class="recipe-img-container">
            <% for (let img of recipe.images) {%>
            <img src="<%= img.url %>" alt="recipe-img" />
            <% } %>
          </div>

          <div class="all-ingredients">
            <p class="ingredients">Ingredients</p>
            <ul>
              <% for (let ingredient of recipe.ingredients) { %>
              <li><%= ingredient %></li>
              <% } %>
            </ul>
          </div>
          <div class="steps">
            <p class="steps1">Steps</p>
            <ol>
              <% for (let step of recipe.steps) { %>
              <li><%= step %></li>
              <% } %>
            </ol>
          </div>
          <div class="functionalButtons">
            <form
              action="/recipes/<%= recipe._id %>?_method=DELETE"
              method="POST"
            >
              <% if (currentUser && recipe.author.equals(currentUser._id)) { %>
              <button class="delete-recipe">Delete</button>
              <a href="/recipes/<%= recipe._id %>/edit" class="edit">Edit</a>
              <% } %>
              <a href="/recipes" class="options">All Recipes</a>
            </form>
          </div>
        </div>
      </div>

      <div class="image-comment">
        <div class="yellow-background">
          <div class="circle-container">
            <img
              src="<%= recipe.images[Math.floor(Math.random()*recipe.images.length)].url %>"
              alt="image"
            />
          </div>
        </div>

        <div class="like-share-post">
          <div class="button-container">
            <!-- Like Button -->
            <div class="button" id="like-button">
              <a class="circle" href="/recipes/<%= recipe._id %>/like">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"
                  />
                </svg>
              </a>
              <p class="count"><%= recipe.likes.length %></p>
            </div>
            <!-- Dislike Button -->
            <div class="button" id="like-button">
              <a class="circle" href="/recipes/<%= recipe._id %>/dislike">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z"
                  />
                </svg>
              </a>
              <p class="count"><%= recipe.dislikes.length %></p>
            </div>
            <!-- Share Button -->
            <div class="button" id="share-button">
              <a class="circle" onclick="copyToClipboard()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#000000"
                >
                  <path
                    d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm480-280q17 0 28.5-11.5T720-760q0-17-11.5-28.5T680-800q-17 0-28.5 11.5T640-760q0 17 11.5 28.5T680-720Zm0 520ZM200-480Zm480-280Z"
                  />
                </svg>
              </a>
              <p class="count">share</p>
            </div>

            <!-- Save Button -->
            <div class="button" id="save-button">
              <div class="circle">
                <svg viewBox="0 0 24 24">
                  <path d="M17 3H7a2 2 0 00-2 2v16l7-3 7 3V5a2 2 0 00-2-2z" />
                </svg>
              </div>
              <p class="count">save</p>
            </div>
          </div>
        </div>

        <div class="comment-section">
          <h2>Comments</h2>

          <% if (currentUser) { %>
          <form action="/recipes/<%= recipe._id %>/comments" method="POST">
            <div class="comment-form">
              <textarea
                placeholder="Write a comment..."
                rows="4"
                name="comment[body]"
                id="body"
                required
              ></textarea>
              <button type="submit">Post Comment</button>
            </div>
          </form>
          <% } else { %>
          <div class="comment-form">
            <p>you must be logged in to post a comment!</p>
          </div>
          <% } %>

          <div class="comments-list">
            <% for (let comment of recipe.comments) { %>
            <div class="comment">
              <div class="comment-content">
                <div class="comment-body">
                  <h3><%= comment.author.username %></h3>
                  <p><%= comment.body %></p>
                </div>

                <!-- <button class="reply-button" onclick="showReplyForm(this)">
                  Reply
                </button> -->
                <!-- <div class="reply-form">
                  <textarea placeholder="Write a reply..." rows="3"></textarea>
                  <button type="submit">Post Reply</button>
                </div> -->
                <% if (currentUser && comment.author.equals(currentUser._id)) {
                %>
                <form
                  action="/recipes/<%= recipe._id %>/comments/<%= comment.id %>?_method=DELETE"
                  method="POST"
                >
                  <button type="submit" class="delete-comment">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#FFFFFF"
                    >
                      <path
                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
                      />
                    </svg>
                  </button>
                </form>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/recipes/showComments.js"></script>
    <script src="/js/flash.js"></script>
    <script src="/js/copyLinkToClipboard.js"></script>
  </body>
</html>
