<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/recipesCss/recipe_show.css" />
    <link rel="stylesheet" href="/css/recipesCss/recipe_index.css" />
    <%- include("../partials/fonts.ejs") %>
  </head>

  <body>
    <%- include("../partials/navbar.ejs") %>

    <div class="main-recipe-container">
      <div class="recipe-container">
        <%-include("../partials/flash.ejs")%>
        <div class="recipe-sub-container">
          <div class="sub-container">
            <h1><%= recipe.title %></h1>
            <h2><%= recipe.description %></h2>
            <h3>- <%= recipe.author.username %></h3>

            <img src="<%= recipe.image %>" alt="image" />

            <h3>Ingredients</h3>
            <ul>
              <% for (let ing of recipe.ingredients) { %>
              <li><%= ing %></li>
              <% } %>
            </ul>

            <h3>Steps</h3>
            <ol>
              <% for (let step of recipe.steps) { %>
              <li><%= step %></li>
              <% } %>
            </ol>

            <form
              action="/recipes/<%= recipe._id %>?_method=DELETE"
              method="POST"
            >
              <% if (currentUser && recipe.author.equals(currentUser._id)) { %>
              <button>Delete</button>
              <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
              <% } %>
            </form>

            <div class="options">
              <a href="/recipes">All Recipes</a>
            </div>
          </div>

          <div class="comment-container">
            <div>
              <h2>Leave a Comment!</h2>
              <% if (currentUser) { %>
              <form action="/recipes/<%= recipe._id %>/comments" method="POST">
                <div>
                  <label for="body">Comment: </label>
                  <textarea
                    name="comment[body]"
                    id="body"
                    cols="30"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <button type="submit">Submit</button>
              </form>
              <% } else { %>
              <p>you must be logged in to make a comment!</p>
              <% } %>
            </div>
            <div class="commentSection">
              <h2>All Comments</h2>
              <% for (let comment of recipe.comments) { %>
              <p><%= comment.author.username %>: <%= comment.body %></p>
              <% if (currentUser && comment.author.equals(currentUser._id)) { %>
              <form
                action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit">DELETE</button>
              </form>
              <% } %> <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
